<div class="wrapper">
  <div class="up_bar">
    <%= render "up_bar" %>
  </div>

  <div class="notifications">
    <%= notice %>
  </div>

  <div class="main">

    <div class="team-news">
      <h2 class="news">
        <b>TEAM NEWS</b>
      </h2>
      <ul class='news-topics'>
        <li class="topic">
          <%= link_to "/" do%>
            <%= image_tag "new-player1.jpeg", class:"topic-image" %>
            <h3 class="explain">NEWS: 新加入選手の紹介!!</h3>
          <% end %>
        </li>
        <li class="topic">
          <%= link_to "/" do%>
            <%= image_tag "match1.jpeg", class:"topic-image"%>
            <h3 class="explain">NEWS: Match Daysの発表!!</h3>
          <% end %>
        </li>
        <li class="topic">
          <%= link_to "/" do%>
            <%= image_tag "team1.jpeg", class:"topic-image"%>
            <h3 class="explain">NEWS: 新シーズンまで残り１ヶ月!!</h3>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="items">
      <h2 class="pick-up-items">
        <b>PICK UP ITEMS</b>
      </h2>
      <% @items.each do |item| %>
      <ul class="handing-items">
        <li class="item">
          <%= link_to item_path(item.id), class: "link" do %>
            <%= image_tag item.image, class:"item-image"%>
            <h3 class="product">
              <%= item.item_name%>
            </h3>
            <div class="product-price">
              <%= item.price%>円
            </div>
          <% end %>
        </li>
      </ul>
      <% end %>
      <ul class="more-items">
        <li class="all-items">
          <%= link_to("/", class: "link") do %>
            <b>全ての商品を見る＞</b>
          <% end %>
        </li>
      </ul>
    </div>

    <div class="players-detail">
      <h2 class="team-player">
        <b>TEAM PLAYERS</b>
      </h2>
      <div class="position">
        <b>GOALKEEPERS</b>
      </div>
      <ul class="players">
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape1.webp", class: "player-foto"%>
            <p class="player-name">1 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape1.webp", class: "player-foto"%>
            <p class="player-name">13 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape1.webp", class: "player-foto"%>
            <p class="player-name">30 : name</p>
          <% end %>
        </li>
      </ul>

      <div class="position">
        <b>DEFENDERS</b>
      </div>
      <ul class="players">
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape2.jpeg", class: "player-foto"%>
            <p class="player-name">2 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape2.jpeg", class: "player-foto"%>
            <p class="player-name">3 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape2.jpeg", class: "player-foto"%>
            <p class="player-name">4 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape2.jpeg", class: "player-foto"%>
            <p class="player-name">5 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape2.jpeg", class: "player-foto"%>
            <p class="player-name">18 : name</p>
          <% end %>
        </li>
      </ul>

      <div class="position">
        <b>MIDFIELDERS</b>
      </div>
      <ul class="players">
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape3.jpeg", class: "player-foto"%>
            <p class="player-name">14 : name</p>
          <% end %>
        </li>
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape3.jpeg", class: "player-foto"%>
            <p class="player-name">6 : name</p>
          <% end %>
        </li>
      </ul>

      <div class="position">
        <b>FORWARDS</b>
      </div>
      <ul class="players">
        <li class="player">
          <%= link_to("/", class: "link") do %>
            <%= image_tag "landscape4.webp", class: "player-foto"%>
            <p class="player-name">10 : name</p>
          <% end %>
        </li>
      </ul>
      <ul class="more-players">
        <li class="all-players">
          <%= link_to("/", class: "link") do %>
            <b>全ての選手のプロフィール＞</b>
          <% end %>
        </li>
      </ul>
    </div>

  </div>

  <div class="under_bar">
    <%= render "under_bar" %>
  </div>
</div>
